# SAVING DATA TO FILE
---

## Methods of Writing Data to File

To save a DataFrame to a file, use one of the available methods. Try to save data from all rows but selected columns to the file.

In [3]:
import pandas as pd
oscars = pd.read_csv('oscars.csv')

In [8]:
movies = oscars.loc[:,['Movie','Year']]
movies.to_csv('movies.csv', index=False)

### Tasks

Display the contents of the created CSV file in the editor and:

* Verify that the file contains two columns of data.
* Note that if you use index=False when writing data to the file, the file will not contain the names/numbers of the data rows.

In [11]:
movies.head(2)

                               Movie  Year
0  Everything Everywhere All at Once  2023
1                          The Whale  2023

Now try to save the first 6 rows to a JSON file. Then, display the contents of the created file in the editor.

In [12]:
movies.head(6).to_json("movies6.json")

Try to save the last 8 rows with the columns Movie and Year to an HTML file. Then, display the contents of the created file in the editor. Finally, display the created HTML document in any web browser.

In [13]:
movies.tail(8).to_html("movies8.html")